body {
    font-family: Roboto, sans-serif;
}

.b-nav_top .fl-r {
    float: right;
}

.b-header_top {
    background-color: #363636;
    padding-top: 3px;
}
.b-header_top:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 6px solid #2FAC32;
}

.icon__location {
    display: inline-block;
    width: 15px;
    height: 21px;
    margin-right: 12px;
    vertical-align: bottom;
    background: url(../images/location-header.png) no-repeat;
}

.b-nav_top {
    width: 100%;
}
.b-nav_top li {
    margin-right: 12px;
}

.b-nav_top a {
    color: #f7f7f7;
    vertical-align: bottom;
    font-weight: 300;
}

.b-nav_top a > span {
    position: relative;
}

.icon__location + span{
    border-bottom: 1px dashed #fff;
}


.b-nav_top a > span:after {
    content: '';
    display: block;
    height: 100%;
    top: 0;
    right: -20px;
    position: absolute;
    width: 1px;
    background: #575757;
}

.b-nav_top li a:hover,.b-nav_top li a:focus {
    background: none;
}

.icon__registration {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    top: -2px;
    margin-right: 12px;
    width: 13px;
    height: 18px;
    background: url(../images/registration-header.png) no-repeat;
}

.icon__registration:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #575757;
    left: -20px;
}

.b-nav_registration {
    font-size: 12px;
    font-weight: 400!important;
}

.logo {
    display: block;
    background: url(../images/logo-header.png) no-repeat;
}

.logo-header {
    text-indent: -99999px;
    width: 232px;
    height: 95px;
    margin-top: 25px;
}

.b-header-info {
    width: 200px;
    float: right;
    margin-top: 30px;
    line-height: 1.25;
}

.b-header-info_title {
    font-size: 12px;
    font-weight: 500;
}

.b-header-info_phone {
    color: #000;
    font-weight: 300;
    font-size: 18px;
}

.b-header-info_time {
    font-size: 30px;
    font-weight: 200;
    color: #000;
}

.b-header-info_time-small-text {
    top: -7px;
    position: relative;
    font-weight: 400;
    color: #000;
    font-size: 12px;
}

.b-header-favorite {
    width: 269px;
    height: 106px;
    border: 1px solid #c7c7c7;
    margin-top: 15px;
}

.b-header-favorite_image {
    width: 70px;
    height: 90px;
    margin: 6px 0 0 10px;
    float: left;
}

.b-header-favorite_image img {
    max-width: 100%;
}

.b-header-favorite_description {
    float: left;
    width: 175px;
    padding-left: 15px;

}

.b-header-favorite_description h5 {
    color: #168219;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
}

.b-header-favorite_description small {
    font-size: 11px;
}

.b-header-favorite_description_price {
    padding-left: 20px;
    color: #168219;
    font-size: 12px;
    margin-top: 15px;
}

.b-header-favorite_description_price strong {
    font-weight: 500;
    font-size: 18px;
}

.b-header-favorite_description_price:after {
    content: '+';
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 19px;
    text-align: center;
    background-color: #e9485f;
    color: #fff;
    margin-left: 7px;
    position: relative;
    top: -2px;
}


@media screen and (max-width: 768px) {
    .b-header-info {
        float: none;
        margin: 12px auto;
        padding-left: 70px;
        width: 260px;
    }

    .b-header-favorite {
        margin: 0 auto;
    }
}





























