body {
    font-family: Roboto, sans-serif;
    padding-bottom: 150px;
}

.b-nav_top .fl-r {
    float: right;
}

.b-header_top {
    background-color: #363636;
    padding-top: 3px;
}
.b-header_top:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 6px solid #2FAC32;
}

.icon__location {
    display: inline-block;
    width: 15px;
    height: 21px;
    margin-right: 12px;
    vertical-align: bottom;
    background: url(../images/location-header.png) no-repeat;
}

.b-nav_top {
    width: 100%;
}
.b-nav_top li {
    margin-right: 12px;
}

.b-nav_top a {
    color: #f7f7f7;
    vertical-align: bottom;
    font-weight: 300;
}

.b-nav_top a > span {
    position: relative;
}

.icon__location + span{
    border-bottom: 1px dashed #fff;
}


.b-nav_top a > span:after {
    content: '';
    display: block;
    height: 100%;
    top: 0;
    right: -20px;
    position: absolute;
    width: 1px;
    background: #575757;
}

.b-nav_top li a:hover,.b-nav_top li a:focus {
    background: none;
}

.icon__registration {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    top: -2px;
    margin-right: 12px;
    width: 13px;
    height: 18px;
    background: url(../images/registration-header.png) no-repeat;
}

.icon__registration:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #575757;
    left: -20px;
}

.b-nav_registration {
    font-size: 12px;
    font-weight: 400!important;
}

.logo {
    display: block;
    background: url(../images/logo-header.png) no-repeat;
}

.logo-header {
    text-indent: -99999px;
    width: 232px;
    height: 95px;
    margin-top: 25px;
}

.b-header-info {
    width: 200px;
    float: right;
    margin-top: 30px;
    line-height: 1.25;
    position: relative;
}

.b-header-info:before {
    content: '';
    display: block;
    position: absolute;
}

.b-header-info_phone_icon:before {
    width: 21px;
    height: 28px;
    top: 26px;
    left: -46px;
    background: url(../images/phone-header.png) no-repeat;
}

.b-header-info_time_icon:before {
    width: 54px;
    height: 54px;
    top: 7px;
    left: -66px;
    background: url(../images/clocks-header.png) no-repeat;
}

.b-header-info_title {
    font-size: 12px;
    font-weight: 500;
}

.b-header-info_phone {
    color: #000;
    font-weight: 300;
    font-size: 18px;
}

.b-header-info_time {
    font-size: 30px;
    font-weight: 200;
    color: #000;
}

.b-header-info_time-small-text {
    top: -7px;
    position: relative;
    font-weight: 400;
    color: #000;
    font-size: 12px;
}

.b-header-favorite {
    width: 262px;
    height: 106px;
    border: 1px solid #c7c7c7;
    margin-top: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.b-header-favorite_image {
    width: 70px;
    height: 90px;
    margin: 6px 0 0 10px;
    float: left;
}

.b-header-favorite_image img {
    max-width: 100%;
}

.b-header-favorite_description {
    float: left;
    width: 175px;
    padding-left: 15px;

}

.b-header-favorite_description h5 {
    color: #168219;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
}

.b-header-favorite_description small {
    font-size: 11px;
}

.b-header-favorite_description_price {
    padding-left: 20px;
    color: #168219;
    font-size: 12px;
    margin-top: 15px;
}

.b-header-favorite_description_price strong {
    font-weight: 500;
    font-size: 18px;
}

.b-header-favorite_description_price:after {
    content: '+';
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 19px;
    text-align: center;
    background-color: #e9485f;
    color: #fff;
    margin-left: 7px;
    position: relative;
    top: -2px;
}

.b-menu-line {
    margin-top: 5px;
}

.b-menu-line_item {
    margin-left: -2px;
}

.b-menu-line_item:hover a {
    background: #5FB93C!important;
    border-top-color: #000;
    color: #fff!important;
}

.b-menu-line_item a {
    text-transform: uppercase;
    border-top: 3px solid #fff;
    font-size: 13px;
    margin-right: 2px;
    color: #000!important;
}

.b-menu-line .navbar-collapse {
    background-color: #fff;
    border: none;
}

.b-menu-line .navbar-default {
    border: none;
    margin-bottom: 0;
}

.b-search {
    background: #2FAC32;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.b-search-wrap {
    position: relative;
}

.b-search-left {
    padding-right: 205px;
    height: 72px;
}

.b-search-right {
    width: 205px;
    top: 0;
    right: 0;
    position: absolute;
    height: 100px;
}

.b-cart_top {
    height: 86px;
    padding-top: 2px;
    background: #363636;
}

.b-cart_icon {
    float: left;
    width: 80px;
}

.b-cart_icon i {
    display: block;
    width: 38px;
    height: 36px;
    margin: 20px 0 0 15px;
    background: url(../images/cart.png) no-repeat;
}

.b-cart_icon span {
    display: block;
    width: 27px;
    height: 27px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #e9485f;
    text-align: center;
    line-height: 28px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 40px;
    -webkit-box-shadow: 0 0 0 3px #363636;
    -moz-box-shadow: 0 0 0 3px #363636;
    box-shadow: 0 0 0 3px #363636;
}

.b-cart_description {
    float: left;
    width: 125px;
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
}

.b-cart_description span {
    font-size: 13px;
    text-transform: uppercase;;
}

.b-cart_description strong {
    font-size: 20px;
    font-weight: 500;
}

.b-cart_bottom {
    background: #5FB93C;
    padding: 3px;
    color: #fff;
    display: none;
}

.b-cart-table td > div {
    padding: 7px 0;
    text-align: center;
    background: #2FAC32;
}

.b-cart-table td {
    padding: 2px 1px;
    vertical-align: top;
}

.b-cart-table_title {
    width: 75px;
}

.b-cart-table_title a {
    display: block;
    color: #fff;
    width: 77px;
    word-break: break-all;
    padding: 7px 0;
    text-align: center;
}

.b-cart-table_title a:hover {
    background: #2FAC32;
    text-decoration: none;
}

.b-cart-table_count {
    width: 36px;
    font-weight: bold;
}

.b-cart-table_count input {
    width: 34px;
    height: 20px;
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
}

.b-cart-table_price {
    width: 61px;
    font-weight: bold;
}

.b-cart-table_actions {
    width: 18px;
}

.b-cart-table_actions i {
    display: block;
    width: 18px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    background: #2FAC32;
    font-style: normal;
}

.b-cart-table_actions i:hover {
    background: #EE1D23;
    cursor: pointer;
}

.b-cart-table_remove {
    font-size: 12px;
    position: relative;
}

.b-cart-table_edit {
    font-size: 10px;
}

.b-cart-table_issue {
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
}

.b-cart-table_issue div:hover {
    background: #EE1D23;
}

.b-search_input {
    display: inline-block;
    vertical-align: top;
}

.b-search-field {
    position: relative;
    padding: 17px 0 0;
}

.b-search_icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 17px;
    margin: 25px 0 0 11px;
    opacity: 0.3;
}

.b-search_input input {
    font-size: 16px;
    font-weight: 300;
    width: 500px;
    line-height: 37px;
    height: 37px;
    border: none;
    padding-left: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.b-search_input input:focus {
}

.b-search_input input:focus + .b-search_icon {
    opacity: 0.6;
}

.b-search_button {
    line-height: 23px;
    vertical-align: top;
    left: -12px;
    padding: 7px 12px 5px 12px;
    position: relative;
    border-radius: 0 4px 4px 0;
    color: #fff;
    background: #D6D6D6;
}

.b-search_button:hover, .b-search_button:active, .b-search_button:focus, .b-search_input input:focus ~ .b-search_button {
    background: #e9485f;
    color: #fff;
    outline: none;
}

.b-search_in_stock {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    margin-top: 5px;
}

.b-search_in_stock label {
    width: 270px;
    color: #fff;
    vertical-align: top;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    position: relative;
    cursor: pointer;
}

.b-search_in_stock label:before {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
    width: 9px;
    height: 9px;
    left: -30px;
    top: 5px;
    border: 5px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: content-box;
}

.b-search_in_stock :checked ~ label:before {
    background: #363636;
}

.b-wrapper {
    background: #F3F6EF;
}

.b-text-block {
    margin: 40px 0 30px;
}

.b-text-block p {
    text-align: center;
    padding: 0 2%;
}

.b-slider-block .bx-wrapper .bx-viewport {
    left: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.b-slider-block .bx-controls {
    display: none;
}

.b-slider-block:hover .bx-controls {
    display: block;
}

.b-slider-block_title {
    position: absolute;
    top: 100px;
    left: 95px;
    font-size: 48px;
    width: 400px;
    font-weight: 200;
    line-height: 71px;
}

.b-slider-block_title span {
    background: #E9485F;
    padding: 5px 15px;
    color: #fff;
}

.b-slider-block .bx-wrapper .bx-next, .b-slider-block .bx-wrapper .bx-prev {
    background: #E9485F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 32px;
    color: #fff;
    text-indent: 9px;
    text-decoration: none;
    font-family: 'Glyphicons Halflings';
}

.b-slider-block .bx-wrapper .bx-next:before {
    content: '\e080';
    display: block

}

.b-slider-block .bx-wrapper .bx-prev:before {
    content: '\e079';
    display: block;
}

.b-content {
    margin-top: 30px;
}

.b-categories .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    background-color: transparent;
}

.b-categories .navbar-collapse {
    margin: 0 -15px;
}

.b-categories .navbar-default {
    border: none;
    background: none;
}

.b-categories .nav > li {
    border: 1px solid #D1D1D1;
    border-top: none;
    background: #ffffff;
    position: relative;
}

.b-categories .nav > li:first-child {
    border-top: 5px solid #B0B0B0;
}

.b-categories .nav a {
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
}

.b-categories .nav a:hover {
    background: #2FAC32;
    color: #fff;
}

.b-dropdown_cols:after {
    content: ' ';
    display: table;
}

.b-dropdown_cols {
    display: table;
}

.b-dropdown_cols > li {
    list-style-type: none;
    padding: 10px;
    display: table-cell;
}

.b-dropdown_cols a {
    display: block;
}

.b-dropdown-list li {
    list-style-type: none;
}

.b-categories-dropdown {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #fff;
    top: -1px;
    z-index: 10;
    border: 1px solid #B0B0B0;
}

.b-categories-dropdown__active {
    display: block;
}

.b-categories-dropdown:before {
    content: '';
    display: block;
    position: absolute;
    height: 40px;
    width: 3px;
    background: #fff;
    top: 0;
    left: -1px;
}

.b-categories-dropdown ul {
    padding: 0;
}

.b-dropdown-list {
    width: 120px;
}

.b-categories {
    padding-left: 15px;
}

.b-products {
    float: left;
}

.b-products-item {
    width: 100%;
    background: #fff;
    border: 1px solid #D4D4D4;
    margin-bottom: 10px;
}

.b-products-item_image img {
    width: 100%;
}

.b-content_title {
    font-weight: 300;
    margin-top: 0;
}

.b-products-item_description {
    padding: 0 3px 0 7px;
    margin-bottom: 3px;
}

.b-products-item_description h6 {
    color: #168219;
    font-size: 13px;
    font-weight: 500;
    height: 28px;
    display: table;
    margin-bottom: 0;
    overflow: hidden;
}

.b-products-item_description h6 span {
    display: table-cell;
    vertical-align: middle;
}

.b-products-item_description small {
    font-size: 11px;
    font-weight: 500;
}

.b-product-price {
    position: relative;
    background: #2FAC32;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.b-product-price_sum {
    text-align: center;
    padding-right: 42px;
    line-height: 33px;
}

.b-product-price_count {
    position: absolute;
    width: 42px;
    right: 0;
    top: -1px;
}

.b-product-price_count-number {
    float: left;
    line-height: 33px;
    text-align: center;
    width: 27px;
}

.b-product-price_count-number input {
    width: 27px;
    height: 33px;
    line-height: 33px;
    background: #5CCD5E;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
}

.b-product-price_arrows {
    display: block;
    float: left;
    width: 15px;
}

.b-product-price_arrows i {
    display: block;
    width: 15px;
    height: 16px;
    font-size: 7px;
    text-align: center;
    line-height: 14px;
}

.b-product-price_arrows i:first-child {
    margin-bottom: 1px;
    line-height: 19px;
}

.b-product-price_arrows i:hover {
    background: #229125;
    cursor: pointer;
}

.b-products-items_in_cart {
    line-height: 42px;
    height: 42px;
    text-align: center;
    position: relative;
    border-top: 1px solid #d4d4d4;
    cursor: pointer;
}

.b-products-items_in_cart a {
    color: #000;
    font-weight: 400;
    display: block;
    padding-right: 43px;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

.b-products-items_in_cart a:hover {
    background: #363636;
    color: #fff;
    text-decoration: none;
}

.b-products-items_in_cart i {
    position: absolute;
    width: 42px;
    height: 42px;
    line-height: 42px;
    color: #9d9d9d;
    font-size: 18px;
    top: 0;
    right: 0;
    border-left: 1px solid #d4d4d4;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.b-products-items_in_cart i:before {
    z-index: 2;
    position: relative;
}

.b-products-items_in_cart i:hover:before {
    color: #fff;
}


.b-products-items_in_cart i:after {
    content: '';
    top: -2px;
    left: 1px;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.b-products-items_in_cart i:hover:after {
    width: 36px;
    height: 36px;
    background: #E9485F;
}

.b-products_line {
    width: 95%;
    clear: both;
    height: 3px;
    margin: 10px auto;
    background: url(../images/dotted-line.png) repeat-x;
}


.b-calendar {
    text-align: center;
}

.b-calendar_day, .clndr-previous-button, .clndr-next-button {
    float: left;
    width: 14.25%;
}

.b-calendar_month {
    width: 71.5%;
    float: left;
}

.b-calendar_clndr-controls:after, .b-calendar_days:after {
    content: ' ';
    display: table;
}

.b-calendar-wrap {
    background: #E9485F;
    padding: 4px;
}

.b-calendar_month {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.b-calendar_days {
    background: #fff;
    font-size: 11px;
    font-weight: 500;
}

.b-calendar_day {
    line-height: 20px;
    padding-top: 2px;
}

.b-calendar_day.adjacent-month {
    color: #C5C5C5;
}

.b-calendar_day.today {
    background-color: #E9485F;
    color: #fff;
}

.b-calendar_clndr-controls {
    line-height: 26px;
    color: #fff;
}

.clndr-next-button, .clndr-previous-button {
    font-size: 10px;
}

.clndr-next-button:hover, .clndr-previous-button:hover {
    background: #D22B43;
    cursor: pointer;
}

.calendar-dow-1, .calendar-dow-3, .calendar-dow-5 {
    background: #fafafa;
}

.b-calendar_event {
    background: #fff;
    padding: 10px 5px 15px;
}

.b-calendar_event_icon {
    height: 45px;
    text-align: center;
    line-height: 55px;
}

.b-calendar_event_icon i {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/calendar-ok.png) no-repeat, #E9485F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.b-calendar_event_text {
    font-size: 12px;
    font-weight: 400;
}

.text-green {
    color: #1e9a21;
}

.b-poll_answer {
    list-style-type: none;
}

.b-poll {
    background: #2FAC32;
    color: #fff;
    font-weight: 300;
}

.b-poll > * {
    padding: 0 10px;
}

.b-poll h3 {
    padding-top: 10px;
}

.b-poll-content ul {
    padding: 0;
}

.b-poll-content label {
    font-weight: 300;
    display: block;
    cursor: pointer;
}

.b-poll-content input {
    position: relative;
    margin-right: 19px;
    font-size: 1px;
    width: 1px;
    height: 1px;
    vertical-align: top;
}

.b-poll-content input:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background: #fff;
    margin-top: -2px;
    z-index: 2;
    border: 6px solid #fff;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s cubic-bezier(0.3,-0.25, 0.45, 2.40);
    -moz-transition: all 0.2s cubic-bezier(0.3,-0.25, 0.45, 2.40);
    -ms-transition: all 0.2s cubic-bezier(0.3,-0.25, 0.45, 2.40);
    -o-transition: all 0.2s cubic-bezier(0.3,-0.25, 0.45, 2.40);
    transition: all 0.2s cubic-bezier(0.3,-0.25, 0.45, 2.40);
}

.b-poll-content input:checked:before {
    width: 13px;
    height: 13px;
    border-width: 3px;
    background: #000;
}

.b-poll-content input:after {
    content: '';
    margin-top: -2px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 13px;
    opacity: 1;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.b-poll-content input:checked:after {
    -webkit-transform: scale(2.75);
    -moz-transform: scale(2.75);
    -ms-transform: scale(2.75);
    -o-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.b-poll_actions {
    height: 34px;
    padding: 0;
}

.b-poll_submit, .b-poll_show-results {
    width: 50%;
    height: 34px;
    line-height: 34px;
    float: left;
    display: block;
    text-align: center;
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
}

.b-poll_submit {
    background: #363636;
}

.b-poll_submit:hover {
    background-color: #E9485F;
}

.b-poll_show-results:hover, .b-poll_show-results:focus {
    color: #fff;
}

















@media screen and (min-width: 992px) {
    .b-categories {
        width: 20%;
        float: left;
    }

    .b-products {
        width: 80%;
        margin-left: -5px;
    }

    .b-products .col-md-15 {
        padding: 0 10px;
    }
}

@media screen and (max-width: 992px) {
    .b-categories-dropdown {
        position: static;
        display: none;
    }

    .b-categories-dropdown__active {
        display: block;
    }

    .b-categories-dropdown:before {
        content: '';
        display: none;
    }

    .b-dropdown-list {
        width: 100%;
    }

    .b-categories-dropdown li {
        display: block;
        width: 100%;
    }

    .b-categories-dropdown ul {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .b-header-info {
        float: none;
        margin: 12px auto;
        padding-left: 70px;
        width: 260px;
    }

    .b-header-favorite {
        margin: 0 auto;
    }

    .b-menu-line {
        margin-top: 20px;
    }
}




.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
























